<template name="dentistTreatments">
	{{#if existTreatment}}
		{{#if Template.subscriptionsReady}}
			<h1>Tratamentos de {{getDentistName}}</h1>
			<hr>
			<table class="table table-hover">

		  		<thead>
		  			<tr>
		  				<th>Paciente</th>
			  			<th>Data de Início</th>
			  			<th>Data de Término</th>
			  			<th>Plano Dentário</th>
			  			<th>Ações</th>
			  		</tr>
		  		</thead>
			
				<tbody>
				{{#each treatments}}
					<tr>
						<td>{{getPatientName patient_id}}</td>
						<td>{{formatDate startdate}}</td>
						<td>{{formatDate enddate}}</td>		  			
						<td>{{dentalcare}}</td>
			  			{{#if isInRole "Gerente"}}
			  			<td>
			  				<i class="fa fa-eye fa-2x" title="Ver informações"></i>
			  				<i class="fa fa-close fa-2x" title="Deletar Tratamento"></i>
			  			</td>
			  			{{/if}}
			  		</tr>
				{{/each}}
				</tbody>

			</table>
		{{else}}
			{{> spinner}}
		{{/if}}
	{{/if}}
</template>