<template name="dentists">
	<h1>Dentistas
	<i class="fa fa-plus-circle" data-placement="right" title="Adicionar dentista"></i>
	</h1>
	<hr>
	{{#if Template.subscriptionsReady}}
		<table class="table table-hover">

	  		<thead>
	  			<tr>
		  			<th>Nome</th>
		  			<th>Telefone 1</th>
		  			<th>Telefone 2</th>
		  			<th>E-mail</th>
		  			<th>Ações</th>
		  		</tr>
	  		</thead>
		
			<tbody>
			{{#each dentists}}
				<tr>
		  			<td>{{name}}</td>
		  			<td>{{contact.phone}}</td>
		  			<td>{{contact.phone2}}</td>
		  			<td>{{contact.email}}</td>
		  			{{#if isInRole "Gerente"}}
		  			<td>
		  				<i class="fa fa-medkit fa-2x" title="Tratamentos"></i>
		  				<i class="fa fa-eye fa-2x" title="Ver informações"></i>
		  				<i class="fa fa-close fa-2x" title="Deletar dentista"></i>
		  			</td>
		  			{{/if}}
		  		</tr>
			{{/each}}
			</tbody>

		</table>
	{{else}}
		{{> spinner}}
	{{/if}}
</template>